
<div class="col-md-12 col-center">
<div class="panel panel-default">
<div class="panel-heading">
<h3>購物網站

<div class="pull-right">
    <%= link_to("新增商品", new_admin_product_path, class: "btn btn-primary pull-right") %>
</div>
    </h3>
</div>
<div class="panel-body">

<table class="table table-boldered table-striped custab" >
    <thead>
    <tr>    
        <td>品名</td>
        <td>敘述</td>        
        <td>庫存</td>
        <td>價格</td>
        <td>選項</td>        
        <td>創建時間</td>               
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
        <tr>            
    <td><%=  product.title %></td>
    <td>
        <%= render_formate_description(product) %>          
    </td>    
    <td><%=  product.quantity %></td>
    <td><%=  product.price %></td>
        <td>                
        
        <% if current_user  %>                                                
        <%= link_to("Edit", edit_admin_product_path(product), :class => "btn btn-xs btn-info") %> |
        <%= link_to("Destroy", admin_product_path(product), method: :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>                                                   
        <% end %>
        </td>

    <td><%=  product.created_at %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<div class="text-center">
    <%= will_paginate @products %>
</div>
</div>

</div>
</div>